@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Tambahkan kustomisasi scrollbar retro di sini */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 2px;
}